* {
    margin: 0%;
    padding: 0%;
}
.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(p2.jpeg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    height: 70px;
    float: left;
}

.logo {
    color: white;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

ul li {
    margin-left: 62px;
    margin-top: 27px;
    list-style: none;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.667);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: rgb(255, 115, 0);
}

.search {
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch {
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(255, 115, 0);
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn {
    width: 100px;
    height: 40px;
    background: rgb(255, 115, 0);
    border: 2px solid rgb(255, 115, 0);
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}
::placeholder {
    color: #fff;
    font-family: Arial;
}

.container {
    background:white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

h1 {
    color:rgb(255, 115, 0);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(255, 115, 0);
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(255, 115, 0);
    border-radius: 5px;
    padding-right: 2px;
}

button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0dc635;
}
.place{
    margin-top: 150px;
    margin-left: 600px;
}
p{
    color: rgb(255, 115, 0);
}